@import "tailwindcss";

:root {
  /* On force ton design "Command Center" sombre par défaut */
  --background: #020408; 
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Le bloc @media (prefers-color-scheme: dark) n'est plus forcément nécessaire 
   si l'app est 100% sombre, mais tu peux le garder si tu prévois un mode clair plus tard. */

body {
  background-color: var(--background);
  color: var(--foreground);
  /* J'ai supprimé la ligne font-family qui cassait la police Geist ! 
     Tailwind (via le @theme inline) s'en charge très bien tout seul. */
}